body {
	background-image: url();
	background-color: lightblue;
	padding: 20px;
	

}

h1 {
	text-align: center;
	color: red;
	opacity: 0.5;
	padding: 20px;
	text-shadow: 3px 3px 1px blue;
	font-family: fantasy;
	
}


.header {
	
	background-color: gray;
    display: inline-block;
    margin :5px;
	opacity: 0.5;
	
}



p {
	color: blue;
	font-size:25px;
	border-style: solid;
	border-radius: 50px;
	border-width: 10px;
	border-color: gray;

}
li {
	font-color: pink;
	font-size: 25px;
	/*display: inline-block;*/
	display: inline-block;
	border: none;
	padding: 20px;
	list-style: square outside none;

}
div > p {
	color: blue;
	font-size: 10px;
}
.createRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	height: 200px;
	width: 200px;
	margin: 5px;
	transition: all 1s;
	box-shadow: 2px 2px #888888;

}
img:hover {
	transform: scale(2);
	cursor: pointer;
	border-radius: 50%;
}